{{ define "user/index.html" }}

{{ template "layout/header" . }}

<form id="pwdForm" action="" method="POST" onsubmit="return doChangePwd();">
    <ul>
        <li>
            <input type="text" value="{{ .userInfo.Username }}" disabled>
        </li>
        <li>
            password:<input type="password" name="password">
        </li>

        <li>
            newpassword: <input type="password" name="new_password">
        </li>
        <li>
            repassword: <input type="password" name="re_password">
        </li>
    </ul>

    <button type="submit">summit</button>
</form>
</body>

<script>
    function doChangePwd() {
        var pwd = $('[name="password"]').val();
        var pwdNew = $('[name="new_password"]').val();
        var pwdRe = $('[name="re_password"]').val();

        if (pwd.length < 6) {
            console.log("password length not enough")
            return false;
        }

        if (pwdNew.length < 6) {
            console.log("password length not enough")
            return false;
        }

        if (pwdNew != pwdRe) {
            console.log("twice password not equal")
            return false;
        }

        let data = {
            password: pwd,
            new_password: pwdNew,
            re_password: pwdRe
        };

        var formObj = $("#pwdForm");

        console.log(formObj);

        $.post("", data, function (jsonRes) {
            console.log(jsonRes)
            console.log(jsonRes.code)
            if (jsonRes.code.toString() !== "0") {
                // show message
                //
                console.log(jsonRes.msg)
                return
            }

            console.log("change success , ready to redirect /user")


            window.location = "/user"
        }, "json")

        return false;
    }
</script>


{{ template "layout/footer" . }}
{{ end }}